<h3 class="card-title">Task Editor</h3>
<h5>New Task</h5>

<div class="container">
    <form [formGroup]="taskForm" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"> <label for="subject">Subject</label>
                    <input formControlName="subject" required
                        type="text" class="form-control form-control-sm" id="subject"></div>
                    
                    <div class="form-group"> <label for="status">Status</label>
                    <input formControlName="status" 
                        type="text" class="form-control form-control-sm" id="status"></div>
                    
                    <div class="form-group"> <label for="owner_id">Owner Id</label>
                    <input formControlName="owner_id" 
                        type="number" class="form-control form-control-sm" id="owner_id"></div>
                    
                    <div class="form-group"> <label for="owner_name">Owner Name</label>
                    <input formControlName="owner_name" 
                        type="text" class="form-control form-control-sm" id="owner_name"></div>
                    
                    <div class="form-group"> <label for="project_id">Project Id</label>
                    <input formControlName="project_id"
                        type="number" class="form-control form-control-sm" id="project_id"></div>
                    
                    <div class="form-group"> <label for="project_code">Project Code</label>
                    <input formControlName="project_code" 
                        type="text" class="form-control form-control-sm" id="project_code"></div>
            </div>
            <div class="col-md-6">
                <div class="form-group"> <label for="description">Description</label>
                    <input formControlName="description" required
                        type="text" class="form-control form-control-sm" id="description"></div>
                    
                    <div class="form-group"> <label for="asignee_id">Asignee Id</label>
                    <input formControlName="asignee_id" 
                        type="number" class="form-control form-control-sm" id="asignee_id"></div>
                    
                    <div class="form-group"> <label for="asignee_name">Asignee Name</label>
                    <input formControlName="asignee_name" 
                        type="text" class="form-control form-control-sm" id="asignee_name"></div>
                    
                    <div class="form-group"> <label for="created_date">Created Date</label>
                    <input formControlName="created_date" 
                        type="text" class="form-control form-control-sm" id="created_date"></div>
                    
                    <div class="form-group"> <label for="start_date">Start Date</label>
                    <input formControlName="start_date" 
                        type="text" class="form-control form-control-sm" id="start_date"></div>
                    
                    <div class="form-group"> <label for="end_date">End Date</label>
                    <input formControlName="end_date"
                        type="text" class="form-control form-control-sm" id="end_date"></div>
            </div>
        </div>
    </form>

</div>

<button (click)="save()" [disabled]="!taskForm.valid"
    class="btn btn-outline-secondary">Salveaza</button>  
   