
<div class="row">
    <div class="col-md-10 offset-md-1 mt-4">
        <h3>Tasks</h3>
        <div class="card-footer text-right pb-4">
                        <button (click)="" type="button" 
                            class="btn btn-secondary float-left"><i class="fa fa-backward"></i>
                                Lista Proiecte</button>
                        Cod proiect: <em> </em></div>
        <table class="table table-inverse">
            <thead>
                <tr>    
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th>Deadline</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total items: </th>
                </tr>
            </tfoot>
            <tbody>
                <tr *ngFor="let task of tasks" >
                    <td>Subject</td>
                    <td>Description</td>
                    <td>Status</td>
                    <td>Owner</td>
                    <td>Deadline</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
