<div class="container" *ngIf="projects && projects.length">
    <div class="row">
        <div class="col-xs-6 m-1">
            <label for="input">Cauta</label>
            <input [(ngModel)]='projectSearchText' type="text" placeholder="Filtrare">
        </div>
        <div class="col-xs-6 m-1">
            <h5 [hidden]='!projectSearchText'><em>Filtrare dupa: {{ projectSearchText }}</em></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mt-2">
            <button (click)='selectCategory()' class="btn btn-block"
                    [ngClass]="(!selectedCategory) ? 'btn-info' : 'btn-outline-info'">Toate Categoriile</button>
            <button *ngFor="let category of getCategories();  let i=index;" (click)='selectCategory(category)' 
                    class="btn btn-block" 
                    [ngClass]="(selectedCategory && category.id==selectedCategory.id) ? 'btn-info' : 'btn-outline-info'"> 
                <span *later="50 * i">{{category.name}}</span> </button>
        </div>
        <div class="col-md-9 text-white">
            <div *ngFor="let project of (getPaginatedProjects() | projectFilter:projectSearchText); let i=index;">
            <div class="card card-inverse card-outline-default m-2 project-card" hoverDisplay ownerName='Clyde Dorman'>
                <h4 class="card-header">
                    {{project.name}}
                    <span class="float-right ml-3" style="margin-right: -1rem; margin-top: -0.75rem;">
                        <button (click)="undoChanges(i)" type="button" class="btn btn-outline-secondary btn-sm">
                            <i class="fa fa-undo text-white"></i></button>
                        <button [confirmAction]='delete.bind(this)' [project]='project' 
                            confirmMsg='Stergeti proiectul?'
                            type="button" class="btn btn-outline-secondary btn-sm text-white">x</button></span>
                </h4>
                <div>
                    <category-image [categoryid]='project.category_id'
                            (categoryChanged)='onCategoryChange($event, project)'></category-image> 
                    <h3 class="card-title ml-2 mt-1"><span class="badge badge-default">
                    {{project.code}}
                    </span></h3>
                    <div class="card-text p-2">{{project.description}}</div>
                    <div class="card-footer text-right">Owner: <em>{{ project.owner_name }}</em></div>
                </div>
            </div>
            </div>
            <div class="row" [hidden]='projectSearchText'>
                <div class="col col-md-8 btn-group mt-1">
                    <button *ngFor="let page of pages" (click)="selectPage(page)" 
                            class="btn btn-secondary" [class.active]="page == currentPage">
                        {{page}}
                    </button>
                </div>
                <div class="col col-md-4 form-inline mt-2 pr-1">
                    <select #pageSize class="form-control form-control-sm pr-0" [value]="perPage" (change)="setPageSize(+pageSize.value)">
                        <option value="3"> 03 / pagina</option>
                        <option value="5"> 05 / pagina</option>
                        <option value="10">10 / pagina</option>
                        <option value="20">20 / pagina</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container" *ngIf="!(projects && projects.length)">
    <h4><em>Nu exista proiecte!</em></h4>
</div>