<div class="row">
    <div class="mt-2" style="width: 100%">

        <div class="card mb-4" style="min-height: 210px">
            <div class="card-header">
                View Details
            </div>
            <div class="card-block">
                <!--outlet nonamed-->
            </div>
        </div>

        <table class="table table-inverse">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th>Deadline</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total items: </th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td> <button>View Task Detail</button> </td>
                    <td> <button>View Project Detail</button> </td>
                    <td> <button>Edit Project</button></td>
                </tr>
                <tr>
                    <td>Subject</td>
                    <td>Description</td>
                    <td>Status</td>
                    <td>Owner</td>
                    <td>Deadline</td>
                </tr>
            </tbody>
        </table>
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <div class="card-block">
                <button type="button" 
                    class="btn btn-outline-secondary btn-sm float-right">x</button>
                <!--outlet edittask-->
            </div>
        </div>
    </div>
</div>