/* You can add global styles to this file, and also import other style files */

/* @import '~bootstrap/dist/css/bootstrap.min.css'; */


div.card.card-inverse {
    color: #fff;
    padding: 1em;
}

div.card-block {
    padding: 1em;
}